In [2]:
print('pattern A')

for i in range(1,7):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

pattern A
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [3]:
print('pattern B')

for i in range(6,0,-1):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

pattern B
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [5]:
table = [[1,2,3],[4,5,6],[7,8,9]]


for row in table:
    for cell in row:
        print(cell, end='')
    print()

123
456
789

In [14]:
even = []
odd = []

value = int(input('insert integer val:'))
            
if value % 2 == False:
    even.append(value)
elif value % 2:
    odd.append(value)
else: pass     # zero

print('even:', even)
print('odd: ', odd)

insert integer val:0
even: [0]
odd:  []

In [16]:
val = 0

while True:
    
    val += 1
    val_three = val**3
    
    if val_three >= 15000:
        print(val)
        break
    else: pass

25

In [25]:
val = eval(input('insert list:'))

a = 0

for ele in val:
    if ele > 100 and ele < 200:
        a += ele
    else: pass
    
print(a)

insert list:[1, 2, 5, -1, 44, 99, 1001, 102, 199, 100, 200, 0, 130]
431

In [27]:
value = eval(input('insert list:'))

even = []
odd = []
   

for ele in value:
    if ele % 2 == False:
        even.append(ele)
    elif ele % 2:
        odd.append(ele)
    else: pass     # zero

print('even:', even)
print('odd: ', odd)

insert list:[5, 100, 202, 4, 5, 99, 8, 7]
even: [100, 202, 4, 8]
odd:  [5, 5, 99, 7]

In [37]:
for i in range(1,6):
    print(' '* (7-i), end='')
    for j in range(1,i+1):
        print(j, end='')
    print()

      1
     12
    123
   1234
  12345

In [42]:
t = [['kim', 'lee', 'kim'], ['park', 'cho', 'sung'], ['kim', 'cho', 'lee', 'gang']]
ex = ['lee', 'cho', 'gang']


for i in t:
    temp = []
    for j in i:
        if j in ex:
            pass
        else: temp.append(j)
            
    temp_str = ''
    for k in temp:
        temp_str = temp_str + k + '  '
        
    temp_str = '[ ' + temp_str + ' ]'
    print(temp_str)

[ kim  kim   ]
[ park  sung   ]
[ kim   ]

In [52]:
N = 10

for i in range(1,N,2):
    space = N - i - 1
    print(' '*(int(space/2)), '*'*i, ' '*int((space/2)))

     *
    ***
   *****
  *******
 *********

In [76]:
inp = eval(input('list: '))

inp_unq = list(set(inp))
inp_unq.sort()
print(inp_unq)
print()

m_2 = []
m_5 = []
m_3 = []
m_7 = []

for i in inp_unq:
    
    if 1 < i < 100:
        
        if i % 2 == False:
            m_2.append(i)
        if i % 3 == False:
            m_3.append(i)
        if i % 5 == False:
            m_5.append(i)
        if i % 7 == False:
            m_7.append(i)
    else:continue

print(m_2) ; print(m_3) ; print(m_5) ; print(m_7)

list: [99, 2, 100, 30, -1, 0, 1, 22, 35, 77, 12, 20, 30, 45, 20]
[-1, 0, 1, 2, 12, 20, 22, 30, 35, 45, 77, 99, 100]

[2, 12, 20, 22, 30]
[12, 30, 45, 99]
[20, 30, 35, 45]
[35, 77]

In [91]:
inp = '950123-1234567'

year = inp[:2]
mon = inp[2:4]
day = inp[4:6]

temp = int(inp[7])
if temp == 1 or temp == 3:
    sex = 'Male'
elif temp == 2 or temp == 4:
    sex = 'Female'
else: sex = 'Unk'
    
print(year)
print(mon)
print(day)
print(sex)

95
01
23
Male

In [93]:
s = 'a:b:c:d'
s = s.replace(':',',')
s

'a,b,c,d'

In [98]:
name = input('name:')
score = float(input('score:'))

if score < 60:
    print('****홍길동****님은  {}점을 받았습니다.'.format(score))
    print('불합격하였습니다. {}점이 부족합니다.'.format(60-score))
else:
    print('****홍길동****님은  {}점을 받았습니다.'.format(score))
    print('합격하였습니다.')

name:55
score:55
****홍길동****님은  55.0점을 받았습니다.
불합격하였습니다. 5.0점이 부족합니다.